<div class="container">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7">Pay Cheap <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h5 class="text-center display-5 langlao">ປ່ຽນເບີໂທລະສັບ</h5>
            <form action="" class="mt-3">
                <label class="ml-4 langlao smoke-font-color" for="phonenumber">ເບີໂທປັດຈຸບັນ*</label>
                <input name="phonenumber" (value)="_currentUserdetail.phonenumber===undefined? '' : _currentUserdetail.phonenumber" (input)="_currentUserdetail.phonenumber=$event.target.value" type="number" maxlength="10" placeholder="phonenumber: 205 or 209" class="form-control input-md"
                    required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="newphonenumber">ເບີໂທໃໝ່*</label>
                <input name="newphonenumber" (value)="_currentUserdetail.newphonenumber===undefined? '' : _currentUserdetail.newphonenumber" (input)="_currentUserdetail.newphonenumber=$event.target.value" type="number" placeholder="phonenumber: 205 or 209" class="form-control input-md"
                    required>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="secret">ປ້ອນລະຫັດທີ່ທ່ານໃດ້ຮັບ*</label>
                <input name="secret" [value]="_newUser.data['secret']===undefined? '' : _newUser.data['secret']" (input)="_newUser.data['secret']=$event.target.value" (keyup)="checkSMSConfirm($event)" maxlength="6" type="number" placeholder="secret" class="form-control input-md"
                    required>
                <label class="mt-3 langlao smoke-font-color" for="secret"></label>
                <button (click)="getSMSConfirm()" name="btnGetSecret" class="btn btn-outline-secondary mt-3">Get secret</button>
                <label for="submit"></label>
                <button (click)='changePhoneNumber()' name="submit" class="btn btn-block main-bg-color mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>